@page "/termo"
@using System.Text.RegularExpressions;
@using TermoSolver.Models
@using TermoSolver.Services
@using TermoSolver.Services.Solver;
@inject HttpClient Http
@inject IWordSolver WordSolver

<PageTitle>Termo</PageTitle>

<div class="centered">
    <h1>Salvatore</h1>
    <img src="images/Salvatore.png" width="100" height="120" />
</div>

<style>
    .centered{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    #new-word{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .word-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 5px;
    }
</style>

@if (Attempts.Any())
{
    <div id="#history">
        @foreach (var word in Attempts)
        {
            <div class="word-section">
                @for (int i = 0; i < word.Length; i++)
                {
                    int j = i;
                    <button disabled="true" class="btn @StateClass[word[j].State] btn-lg">@word[j].Character</button>
                }
            </div>
        }
    </div>
}

@if (!(NoMoreWords || IsSuccess) && WordCandidate != null)
{
    <div id="new-word">

    @for (int i = 0; i < WordCandidate.Length; i++)
    {
        int j = i;
            <button @onclick="() => CharacterClick(j)" class="btn @StateClass[WordCandidate[j].State] btn-lg">@WordCandidate[j].Character</button>
    }
    </div>
    <div class="word-section">
        <button style="margin-left=60px" @onclick="GuessWord" class="btn btn-primary btn-lg">Guess</button>
    </div>
}

@if(NoMoreWords){
    <div class="centered">
        <h2>Nao sei mais</h2>
        <h2>Aposto que fizeste batota.</h2>
        <h2>Nao ha pizza para ti.</h2>
    </div>
}

@if (IsSuccess)
{
    <div class="centered">
        <h1>Campioni in @Attempts.Count!</h1>
        <h1>Sai una pepperoni para il LOSER!</h1>
        <img src="images/pizza-pepperoni.jpg" />
    </div>
}


@if (false)
{
    <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wordScore in WordScores)
            {
                <tr>
                    <td>@wordScore.Word</td>
                    <td>@wordScore.Score</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WordScore>? WordScores;
    private WordFilter GlobalFilter = new WordFilter();
    private bool NoMoreWords = false;
    private bool IsSuccess = false;
    private WordState[]? WordCandidate;

    [Parameter]
    [SupplyParameterFromQuery(Name = "word")]
    public string InitialWord { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        WordScores = await Http.GetFromJsonAsync<WordScore[]>("sample-data/word-score.json");
        WordScores = WordScores.Distinct(new WordScoreComparer());

        var startWord = (
                            !string.IsNullOrEmpty(InitialWord) &&
                            InitialWord.Length == 5 &&
                            Regex.IsMatch(InitialWord, @"^[a-zA-Z]+$")
                        ) ?  InitialWord.ToUpper() : 
                        WordSolver.GetNextWord(WordScores, GlobalFilter);

        WordCandidate = new WordState[5];
        for(int i = 0; i < WordCandidate.Length; i++)
        {
            WordCandidate[i] = new WordState() { Character = startWord[i], State = CharacterState.WrongCharacter };
        }
    }

    private Dictionary<CharacterState, string> StateClass = new Dictionary<CharacterState, string>()
    {
        { CharacterState.RightPosition, "btn-success" },
        { CharacterState.WrongPosition, "btn-warning" },
        { CharacterState.WrongCharacter, "btn-dark"}
    };

    private List<WordState[]> Attempts = new List<WordState[]>();

    private void GuessWord()
    {
        Attempts.Add((WordState[])WordCandidate.Clone());
        if(WordCandidate.Count(s => s.State == CharacterState.RightPosition) == WordCandidate.Length)
        {
            IsSuccess = true;
            return;
        }
        WordSolver.IterateFilter(GlobalFilter, WordCandidate);

        var candidate = WordSolver.GetNextWord(WordScores, GlobalFilter);

        if (candidate == null)
        {
            NoMoreWords = true;
            return;
        }

        for(int i = 0; i < candidate?.Length; i++)
        {
            WordCandidate[i] = new WordState()
                {
                    Character = candidate[i],
                    State = WordCandidate[i].State == CharacterState.RightPosition ?
                        CharacterState.RightPosition : CharacterState.WrongCharacter,
                };
        }
    }

    private void CharacterClick(int position)
    {
        var currentState = WordCandidate[position].State;

        var nStates = Enum.GetValues(typeof(CharacterState)).Length;

        WordCandidate[position].State = (int)currentState == nStates - 1 ?
        CharacterState.WrongCharacter : (CharacterState)(int)currentState + 1;
    }
}